# =========================================================================== #
# 	Folder override
# =========================================================================== #

# Exclude unpacked
*platform-tools*/
