# =========================================================================== #
# 	Folder override
# =========================================================================== #

# Exclude unpacked
*Tiny-Fastboot-Script*/
