# =========================================================================== #
# 	Folder override
# =========================================================================== #

# Exclude files that might contain IDs of a concrete device
*.[Ll][Oo][Gg]
*.[Tt][Xx][Tt]
